@model  IEnumerable<MyVitarak.Models.NotificationDetails>




@*<a href="#" class="btn btn-danger btn-sm" style="    margin-top: -24px;height: 43px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i> <span class="badge">4</span></a>*@
@*<button class="btn btn-danger btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i> <span class="badge">4</span></button>*@
@*<ul  >

        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
        <li>
           <a style="color:black;">@item.Messege</a>
            <p style="margin-left: 23px;">
                <a id="btnsave" style="color:green; font-size:11px;">Accept</a>
                <a id="btnsave" style="color:red; font-size:11px;">Reject</a>
               <a style="color:black;font-size:11px;"> @item.CreatedDate</a>
            </p>
        </li>
            }
        }


    </ul>*@
 
        @*<li>
                <div class="dropdown-messages-box">
                    <a href="profile.html" class="pull-left">

                    </a>
                    <div class="media-body">
                        <small class="pull-right">46h ago</small>
                        @item.Messege  <br>
                        <small class="text-muted"> @item.CreatedDate  </small>
                        <p style="margin-left: 23px;">
                            <a id="btnsave" style="color:green; font-size:11px;">Accept</a>
                            <a id="btnsave" style="color:red; font-size:11px;">Reject</a>
                            <a style="color:black;font-size:11px;"> @item.CreatedDate</a>
                        </p>
                    </div>
                </div>
            </li>
            <li class="divider"></li>*@
   
@if (Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <div class="col-md-12">
            <div class="ibox float-e-margins">

                <div>

                    <div class="ibox-content profile-content">
                        <h4><strong>
                            @item.MessegeFrom
                        <p><i class="fa fa-map-marker"></i> 
                            <small>@item.Address |  @item.Mobile </small></p>
                    </strong>
                        </h4>
                        
                        <p class="font12">
                           @item.Messege 
                        </p>
                        
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" id="btnsave" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Accept</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" id="btnReject" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Reject</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}




