@model MyVitarak.Models.Employee

@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<div>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user-plus marginRight15px" aria-hidden="true"></i>Add Employee</h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="exampleInputName2" class="col-sm-3 control-label  LeftAlign pad40">Name</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(a => a.EmployeeName, new { @class = "form-control r-0 light s-12", placeholder = "Enter First Name", title = "EmployeeName", @id = "EmployeeName" })
                            <label style="color:red" id="Employee">*</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerAddress" class="col-sm-3 control-label LeftAlign pad40">Address</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(a => a.Address, new { @class = "form-control r-0 light s-12", placeholder = "Enter Address", title = "Address", @id = "Address" })
                            <label style="color:red" id="AddressVal">*</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="customerArea" class="col-sm-3 control-label  LeftAlign pad40">Area / Route</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("Area", new SelectList((System.Collections.IEnumerable)ViewData["Area"], "Value", "Text"), "Select Area", new { @class = "form-control input-sm", @id = "AreaID", Title = "ModeName" })
                            @Html.ValidationMessageFor(model => model.AreaID, "", new { @class = "text-danger" })
                            <label style="color:red" id="AreaVal">*</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="customerMobNo" class="col-sm-3 control-label  LeftAlign pad40">Mobile no.</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(a => a.Mobile, new { @class = "form-control r-0 light s-12", placeholder = "Enter Mobile", title = "Mobile", @id = "Mobile" })
                            <label style="color:red" id="MobileVal">*</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="Close" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="btnsave" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function abc() {
        $('.modal-backdrop').remove();
    }
    $('#Close').on('click', function () {
        location.reload();
    });

    $(document).ready(function () {
        $("#Employee").hide();
        $("#AddressVal").hide();
        $("#AreaVal").hide();
        $("#MobileVal").hide();
     //   getArea();
        });
    $('#btnsave').on('click', function () {
       
        var error = 0, regex = /^[a-zA-Z\s]+$/, EmployeeName = $('#EmployeeName').val();
        var a = $('#Mobile').val(), intRegex = /^[0-9]{10}$/;
        if ($('#EmployeeName').val() == '' || (!regex.test(EmployeeName))) {
            error = 1;
         //   alert("Invalid Employee Name");
            $('#Employee').html('Please Enter Employee Name');
            $('#Employee').show();

        }
       else if ($('#Address').val() == '' || $('#Address').val().length<=10) {
            error = 1;
          // alert("Address must be minimum 10 character");
            $('#AddressVal').html('Address must be minimum 10 character');
            $('#AddressVal').show();
            $('#Employee').hide();
        }
        else if ($('#AreaID').val() == '') {
            error = 1;
           // alert("Select Area");
            $('#AreaVal').html('Please Select Area');
            $('#AreaVal').show();
            $('#Employee').hide();
            $('#AddressVal').hide();
        }

        else if ($('#Mobile').val() == '' || (!intRegex.test(a)))
        {
            error = 1;
           // alert("Invalid Mobile number");
            $('#MobileVal').html('Invalid Mobile number');
            $('#MobileVal').show();
            $('#Employee').hide();
            $('#AddressVal').hide();
            $('#AreaVal').hide();
        }
        else if (error) {
            return false;
        }
        else {
            $('#Employee').hide();
            $('#AddressVal').hide();
            $('#AreaVal').hide();
            $('#MobileVal').hide();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/Master/AddEmployee',

                data:
                {
                    EmployeeName: $("#EmployeeName").val(),
                    Address: $("#Address").val(),
                    AreaID: $("#AreaID").val(),
                    Mobile: $("#Mobile").val(),

                },
                success: function (da) {

                    alert(da);
                    $("#mdlAddRoute .close").click()
                    $('.modal-backdrop').remove();
                    location.reload();
                },

                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
    });


     @*function getArea()
    {
             var returnResult = [];
                          $.ajax({
                        contentType: "application/json; charset=utf-8",
                         url: "@Url.Action("GetArea", "Master")",
                        method: 'GET',
                        async: 'false',
                        dataType: 'json',
                        success: function (result) {
                            var data = $.map(result, function (obj) {
                                obj.value = obj.Text; // desired field
                                obj.data = obj.Value; // desired field
                                returnResult.push(obj);
                                $("#Area").autocomplete({
                                    lookup: returnResult,
                                    onSelect: function (suggestion) {
                                        $("#AreaID").val(suggestion.data);

                                    }
                                });

                            });
                        },
                        error: function () { }
                  });
    }*@

</script>