@model MyVitarak.Models.SupplierMaster
@{
    Layout = null;
}
<script src="~/Scripts/jquery-1.12.4.min.js"></script>

<div class="modal-dialog modal-md Popup80" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" onclick="abc();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user-plus marginRight15px" aria-hidden="true"></i>Supplier details</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                      
                            <div class="ibox float-e-margins">
                                <div class="ibox-content" style="min-height:400px;">
                                    <div class="form-group" id="grid">


                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-9">
                                                <h3>
                                                    <span class="text-navy">Search Vendor</span>
                                                </h3>

                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-1"></div>


                                            <div class="form-group col-md-9">
                                                <input type="text" placeholder="Mobile No" name="search" id="search" class="form-control ">

                                                <div class="col-md-1"></div>

                                            </div>
                                        </div>
                                        <div class="row" id="SearchResult">
                                        </div>

                                        <div class="row">
                                          <div class="col-md-12" id="CPRates" style="color: brown;">

                                          </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-1"></div>

                                        <div class="form-group col-md-9">

                                            <button type="button" id="btnUseThis" class="btn btn-primary">Use This</button>
                                            <button type="button" id="btnsave1" class="btn btn-primary">save</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content"  style="min-height:400px;">


                                        <div class="form-group" id="grid2">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Vendor Name</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(a => a.VendorName, new { @class = "form-control r-0 light s-12", placeholder = "Enter Vendor Name", title = "vendor name", @id = "VendorName" })
                                                    <p id="Vname" style="color:brown">Enter Vendor Name</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName2" class="col-sm-3 control-label">Address</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(a => a.Address, new { @class = "form-control", placeholder = "Enter Address", title = "Address", @id = "Address" })
                                                    <p id="VAddress" style="color:brown">Enter Address</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="GST" class="col-sm-3 control-label">Contact Person</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(a => a.ContactPerson, new { @class = "form-control", placeholder = "Enter Contact Person", title = "ContactPerson", @id = "ContactPerson" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="customerArea" class="col-sm-3 control-label">Mobile Number</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(a => a.PersonMobileNo, new { @class = "form-control", placeholder = "Enter Person Mobile No", title = "Person Mobile No", @id = "PersonMobileNo" })
                                                    <p id="Mobileno" style="color:brown">Enter 10 Digit Mobile Number</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName2" class="col-sm-3 control-label">Office Number</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(a => a.OfficeNumber, new { @class = "form-control", placeholder = "Enter Office Number", title = "OfficeNumber", @id = "OfficeNumber" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName2" class="col-sm-3 control-label">Email Id</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(a => a.EmailID, new { @class = "form-control", placeholder = "Enter Email ID", title = "EmailID", @id = "EmailID" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName2" class="col-sm-3 control-label">Fax Number</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(a => a.FaxNumber, new { @class = "form-control", placeholder = "Enter Fax Number", title = "FaxNumber", @id = "FaxNumber" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputName2" class="col-sm-3 control-label">IsActive</label>
                                                <div class="col-sm-9">
                                                    <input type="checkbox" id="check" checked>
                                                    <span class="checkmark"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="abc();">Close</button>
            <button type="button" id="btnsave" class="btn btn-primary">Save changes</button>
        </div>
    </div>
</div>
   


<script type="text/javascript">

    var str = window.location.href;
    var lastLetter = str[str.length], i, temp;
    var con = "";

    for (i = 0; i < str.length; i++) {
        if (str[i] == '=') {
            myfun(i);
            break;
        }
    }

    function myfun(temp) {

        temp = temp + 1;
        for (i = temp; i < [str.length]; i++) {

            con = con + str[i];
        }
        parseInt(con);

    }

</script>


<script>
    $(document).ready(function () {
           
    });
    $('#Mobileno').hide();
    $('#Vname').hide();
    $('#VAddress').hide();

    function abc() {
        location.reload();
        $('.modal-backdrop').remove();
    }
  
    $('#btnsave').on('click', function () {
        var isactive;
        var isChecked = $('#check').is(':checked');
        if (isChecked == true) {

            isactive = true;
        }
        else
        {
            isactive = false;
        }

        if ($('#VendorName').val() == "") {
            $('#Vname').show();
            $('#Mobileno').hide();
            $('#VAddress').hide();
            return false;
        }
        else if ($('#Address').val() == "")
        {
            $('#VAddress').show();
            $('#Vname').hide();
            $('#Mobileno').hide();
            return false;
        }

        if ($('#PersonMobileNo').val().length == 10 && ($.isNumeric($('#PersonMobileNo').val())) == true) {

        }
        else
        {
            $('#VAddress').hide();
            $('#Vname').hide();
            $('#Mobileno').show();
            return false;
        }


        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Master/Add_Supplier',

            data:
            {
                VendorName: $("#VendorName").val(),
                PersonMobileNo: $("#PersonMobileNo").val(),
                ContactPerson: $("#ContactPerson").val(),
                EmailID: $("#EmailID").val(),
                IsActive: $("#IsActive").val(),
                OfficeNumber: $("#OfficeNumber").val(),
                FaxNumber: $("#FaxNumber").val(),
                Address: $("#Address").val(),
                IsActive: isactive,

            },
            success: function (da) {

                alert(da);
                window.location.reload();
                //$('#mdlAddSupplier').hide();
                //$('.modal-backdrop').remove();

            },

            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    });


    //$('#checksupplier').on('click', function () {
    //    var isChecked = $('#checksupplier').is(':checked');
    //    if (isChecked == true) {

    //        $('#grid').show();
    //        $('#grid2').hide();
           
    //    }
    //    else
    //    {
    //        $('#grid2').show();
    //        $('#grid').hide();
    //    }

    //});

     $('#search').on('change', function () {
           
            $.ajax({
                url: "@Url.Action("SearchSupplier", "Master")",
                contentType: "application/json",
                 data: JSON.stringify({ val: $('#search').val() }),
                //data: JSON.stringify({ id: "8237175481" }),
                dataType: "text",
                 type: "POST",
                async: true,
                success: function (data) {

                    $('#SearchResult').html(data);
                    CustomerProductRates();

                },
                error: function (data) {

                },
                complete: function () {

                }
                });
    }); 



    function CustomerProductRates()
    {
        $.ajax({
                url: "@Url.Action("CustomerProductRates", "Master")",
                contentType: "application/json",
            data: JSON.stringify({ Mobile: $('#search').val() }),
                //data: JSON.stringify({ id: "8237175481" }),
                dataType: "text",
                 type: "POST",
                async: true,
            success: function (data) {
               
                    if (data == '"No Product Record Found"')
                    {
                        $('#Errormsg').html(data);
                    }
                    else
                    {
                        $('#CPRates').html(data);
                    }                    

                },
                error: function (data) {

                },
                complete: function () {

                }
                });
    }
    

</script>
