@model  IEnumerable<MyVitarak.Models.CustomerDetails>

@using PagedList;
@using PagedList.Mvc;
@using GridMvc.Html
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@*<style>
    .Mytable {
        width: 130%;
        max-width: 130%;
        margin-bottom: 20px;
    }
</style>*@
<table class="table table-bordered Mytable" id="custtable">
    <thead>
        <tr>
            <th scope="col">Name<i class="fa fa-angle-down" aria-hidden="true"></i></th>
            <th scope="col">Address <i class="fa fa-angle-down" aria-hidden="true"></i></th>
            <th scope="col">Area <i class="fa fa-angle-down" aria-hidden="true"></i></th>
            <th scope="col">Mobile <i class="fa fa-angle-down" aria-hidden="true"></i></th>
            <th scope="col">Delevery Vehicle Number <i class="fa fa-angle-down" aria-hidden="true"></i></th>
             <th scope="col">Delivery Person <i class="fa fa-angle-down" aria-hidden="true"></i></th>
             <th scope="col">Delivery Charges <i class="fa fa-angle-down" aria-hidden="true"></i></th>
            <th scope="col">Edit <i class="fa fa-angle-down" aria-hidden="true"></i></th>
        
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                <div class="form-check height20Pixel">
                    <input class="form-check-input1" type="checkbox" id="one">
                    <label class="form-check-label verticalAlignTop" for="one"> &nbsp;@item.CustomerName</label>
                </div>
            </td>

            <td>@item.Address</td>
            <td>@item.Area</td>
            <td>@item.Mobile</td>
            <td>@item.VechicleNo</td>
            <td>@item.EmployeeName</td>
            <td>@item.DeliveryCharges</td>
            <td><a href="@Url.Action("EditCustomer", "Master", new { @CustomerID = @item.CustomerID })" data-toggle="modal" data-target="#mdlEditEmployee"><i class="icon-pencil">Edit</i></a></td>
            @*<td id="del" onclick="deleteItem()">Delete</td>*@
        </tr>

        }


    </tbody>
</table>




